<% content_for :title do %>
    <%= t('.transfers') %>
<% end %>

<% content_for :page_title do %>
    <i class="glyphicon glyphicon-transfer"></i> <%= t('.transfers') %>
<% end %>

<% content_for :page_toolbar do %>
    <%= erp_component('button/create', {
        text: t('.create'),
        href: erp_stock_transfers.new_backend_transfer_path,
        class: 'btn-noborder'
    }) %>
<% end %>

<% content_for :global_filter do %>
    <div class="row top-datalist">
        <div class="col-md-3">
            <%= erp_form_control('date', {
                label: t('.transfer_from_date'),
                name: 'transfer_from_date',
                placeholder: t('.select_from_date')
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control('date', {
                label: t('.transfer_to_date'),
                name: 'transfer_to_date',
                placeholder: t('.select_to_date')
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'source_warehouse',
                label: t('.filter_source_warehouse'),
                placeholder: t('.choose_source_warehouse'),
                url: erp_warehouses.dataselect_backend_warehouses_path(format: 'json'),
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'destination_warehouse',
                label: t('.filter_destination_warehouse'),
                placeholder: t('.choose_destination_warehouse'),
                url: erp_warehouses.dataselect_backend_warehouses_path(format: 'json'),
            }) %>
        </div>
    </div>
<% end %>

<%= erp_datalist(
    url: erp_stock_transfers.list_backend_transfers_path,
    keywords: [
        {
            text: t('.keywords'), name: ''
        },
        {
            text: t('.transfer_code'), name: 'erp_stock_transfers_transfers.code'
        },
        {
            text: t('creator'),
            name: 'erp_users.name',
            select: {
                name: 'erp_users.id',
                data_url: erp.dataselect_backend_users_path
            }
        }
    ],
    actions: [
        {
            text: '<i class="fa fa-check-square-o"></i> '+t('.activate'),
            url: erp_stock_transfers.set_activate_all_backend_transfers_path,
            data_method: 'PUT'
        },
        {
            text: '<i class="fa fa-truck"></i> '+t('.delivery'),
            url: erp_stock_transfers.set_delivery_all_backend_transfers_path,
            data_method: 'PUT',
            data_confirm: t('.delivery_confirm')
        },
        {
            text: '<i class="fa fa-trash"></i> '+t('.delete'),
            url: erp_stock_transfers.set_remove_all_backend_transfers_path,
            data_method: 'PUT',
            data_confirm: t('.delete_confirm')
        }
    ],
    filters: [
        {
            text: t('.draft'), name: 'erp_stock_transfers_transfers.status', value: Erp::StockTransfers::Transfer::STATUS_DRAFT, checked: true
        },
        {
            text: t('.active'), name: 'erp_stock_transfers_transfers.status', value: Erp::StockTransfers::Transfer::STATUS_ACTIVE, checked: false
        },
        {
            text: t('.delivered'), name: 'erp_stock_transfers_transfers.status', value: Erp::StockTransfers::Transfer::STATUS_DELIVERED, checked: false
        },
        {
            text: t('.deleted'), name: 'erp_stock_transfers_transfers.status', value: Erp::StockTransfers::Transfer::STATUS_DELETED, checked: false
        }
    ],
    columns: [
        {
            text: t('.code'), name: 'code', value: true, checked: true
        },
        {
            text: t('.received_at'), name: 'received_at', value: true, checked: true
        },
        {
            text: t('.source_warehouse'), name: 'source_warehouse', value: true, checked: true
        },
        {
            text: t('.destination_warehouse'), name: 'destination_warehouse', value: true, checked: true
        },
        {
            text: t('.quantity'), name: 'quantity', value: true, checked: true
        },
        {
            text: t('.note'), name: 'note', value: true, checked: false
        },
        {
            text: t('.status'), name: 'status', value: true, checked: true
        },
        {
            text: t('.creator'), name: 'creator', value: true, checked: true
        },
        {
            text: t('.approver'), name: 'approver', value: true, checked: true
        },
        {
            text: t('.created_at'), name: 'created_at', value: true, checked: false
        }
    ]
) %>